@{
    ViewData["Title"] = "Détails de la Commande";
}

<div class="mx-auto rounded border p-4" style="width: 420px; background-color: #F9F9F9;">
    <h2 class="text-center mb-3" style="color: #08618d;">Détails de la Commande</h2>
    <hr />

    @if (ViewBag.SuccessMessage != null)
    {
                <div class="alert alert-success" role="alert">@ViewBag.SuccessMessage</div>
                <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
    }
    else
    {
                <div class="row mb-3">
                    <div class="col-5"><strong>Adresse de livraison</strong></div>
                    <div class="col-7">@ViewBag.DeliveryAddress</div>
                </div>
                <div class="row mb-3">
                    <div class="col-5"><strong>Méthode de paiement</strong></div>
                    <div class="col-7">@ViewBag.PaymentMethod</div>
                </div>
                <div class="row mb-3">
                    <div class="col-5"><strong>Montant total</strong></div>
                    <div class="col-7">@ViewBag.Total TND</div>
                </div>
                <div class="row mb-3">
                    <div class="col-5"><strong>Quantité</strong></div>
                    <div class="col-7">@ViewBag.CartSize</div>
                </div>

                <form method="post">
                    <div class="row">
                        <div class="col-sm-6 d-grid">
                            <button type="submit" class="btn btn-primary">Confirmer</button>
                        </div>
                        <div class="col-sm-6 d-grid">
                            <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Retour</a>
                        </div>
                    </div>
                </form>
    }
</div>
